# RabbitMQ настройки
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# PostgreSQL настройки
POSTGRES_DB={{ cookiecutter.package_name }}
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Application Configuration
DEBUG=true
CORS_ORIGINS=*
LOG_TO_FILE=false
ENV=dev
MAX_REQUEST_LOG_SIZE=1000
LOG_LEVEL=INFO
VERSION=1.0.0
AUTORUN_MIGRATIONS=true
